.container-2 .flex-col4 img {
  margin-right: auto;
  margin-left: auto;
  max-width: 70%;
  border-radius: 10pc;
  transform: skewX(20deg);
}

.container .flex-col4 {
  display: inline-block;
  align-items: center;
  text-align: center;
  transform: skewX(-20deg);
  box-shadow: 1px 1px 10px;
  margin: 0px 20px 0px 20px;
  background-image: url(../assets/carbon_background.jpg);
  transition: 0.3s;
}

.container .flex-col4:hover {
  box-shadow: 1px 1px 20px;
  transition: 0.3s;
}

.container .flex-col4 p {
  transform: skewX(20deg);
}

.con .flex-col4 {
  max-width: 100%;
}

.stream-container {
  text-align: center;
}
